@import "./mixins.scss";
@import "./variables.scss";
.player-container {
  display: flex;
  width: 700px;
  align-items: center;

  .forward-backward {
    background: none;
    border: 2px solid $celeste;
    border-radius: 50%;
    height: 1.7em;
    width: 1.7em;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
    cursor: pointer;
    color: $celeste;
    transition: 0.4s;

    p {
      margin: 0;
      font-size: 0.5em;
    }

    &:hover {
      color: $oxford;
      border-color: $oxford;
    }
  }

  .play-pause {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1.7em;
    cursor: pointer;
    color: $celeste;
    transition: 0.4s;

    &:hover {
      color: $oxford;
    }
  }

  .current-time,
  .duration {
    font-size: 1.5em;
  }

  .current-time {
    margin-left: 25px;
  }

  // chrome
  .progress-bar input {
    appearance: none;
    @include bar-styles;
  }

  // safari
  .progress-bar::-webkit-slider-runnable-track input {
    @include bar-styles;
  }

  // firefox
  .progress-bar::-moz-range-track input {
    @include bar-styles;
  }

  .progress-bar::-moz-focus-outer input {
    border: 0;
  }

  // progress bar - chrome & safari
  .progress-bar input::before {
    content: "";
    @include bar-before;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
  }

  // progress bar - firefox
  .progress-bar input::-moz-range-progress {
    @include bar-before;
  }

  // knob - chrome & safari
  .progress-bar input::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include bar-knob;

    &:active {
      transform: scale(1.2);
      background: $darker-green;
    }
  }

  // knob - firefox
  .progress-bar input::-moz-range-thumb {
    @include bar-knob;
    border: transparent;

    &:active {
      transform: scale(1.2);
      background: $darker-green;
    }
  }
}
