@import './mixins.scss';
@import './variables.scss';

.portfolio-container {
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: $celeste;
  background-color: $dark-teal;
  height: calc(100vh - 70px);
  @include page-shadow;

  .portfolio-item {
    margin-top: 100px;
  }
}
